<%- include("./head.ejs"); %>

<script>
    const currentRoute = "<%- route %>";
</script>

<main class="override">
    <% if (requireUser && !user) { %>
        <div class="login-cover">
            <a class="header-link" href="/">
                <h1>NotherBase</h1>
            </a>
            <h3>Login to Your Account</h3>
            <input type="email" placeholder="user@email.com" id="email">
            <input type="password" placeholder="password" id="pass">
            <button id="login" onclick="base.attemptLogin()">Login</button>
            <button id="reset" onclick="base.resetPassword()">Reset Password</button>
            <p class="info"></p>
        </div>
    <% } else { %>
        <%- include(`${main}.ejs`); %>
    <% } %>
</main>

<div class="ui">
    <%- include("./menu.ejs", {user: user}); %>
</div>

<script>
    <%- include("./scripts/base.js", {user: user}); %>
</script>

<%- include("./footer.ejs"); %>