<%- include("./head.ejs"); %>

<script src="/socket.io/socket.io.js"></script>

<div class="ui">
    <%- include("./menu.ejs", {user: user}); %>
</div>

<script src="/js/base.js"></script>
<script>
    const currentRoute = "<%- route %>";
    const base = new Base();
</script>
<script src="/js/chat-box.js"></script>

<main class="override">
    <% if (requireUser && !user) { %>
        <div class="login-cover">
            <a class="header-link" href="/">
                <h1>NotherBase</h1>
            </a>
            <h3>Login to Your Account</h3>
            <input type="email" placeholder="user@email.com" id="email">
            <input type="password" placeholder="password" id="pass">
            <button id="login" onclick="coverLogin()">Login</button>
            <button id="reset" onclick="coverReset()">Reset Password</button>
            <p class="info"></p>

            <script>
                const coverLogin = async () => {
                    let response = await base.attemptLogin(
                        $(".login-cover #email").val(),
                        $(".login-cover #pass").val()
                    );

                    if (response.status === "success") location.reload();
                    $(".login-cover .info").text(response.data);
                };

                const coverReset = async () => {
                    let response = await base.resetPassword(
                        $(".login-cover #email").val()
                    );

                    $(".login-cover .info").text(response.data);
                };
            </script>
        </div>
    <% } else { %>
        <%- include(`${main}.ejs`); %>
    <% } %>
</main>

<%- include("./footer.ejs"); %>