<%- include("./head.ejs"); %>

<style>
    <%- include(path.resolve(dir, "../../", "public/styles/main.css")); %>
    <%- include(path.resolve(dir, "../../", "public/styles/menu.css")); %>
    <%- include(path.resolve(dir, "../../", "public/styles/inventory.css")); %>
    <%- include(path.resolve(dir, "../../", "public/styles/player.css")); %>
    <%- include(path.resolve(dir, "../../", "public/styles/account.css")); %>
    <%- include(path.resolve(dir, "../../", "public/styles/more.css")); %>

    <% for (let i = 0; i < styles.length; i++) { %>
        <%- include(`${styles[i]}.css`); %>
    <% } %>
    <% for (let i = 0; i < externalStyles.length; i++) { %>
        <%- include(`${externalStyles[i]}.css`); %>
    <% } %>
</style>

<script>
    let itemIDs = [];
    <% for (let i = 0; i < itemIDs.length; i++) { %>
        itemIDs.push("<%= itemIDs[i] %>");
    <% } %>
</script>

<main class="override">
    <%- include(`${main}.ejs`); %>
</main>

<div class="ui">
    <%- include("./menu.ejs", {user: user}); %>
</div>

<script>
    <% for (let i = 0; i < localScripts.length; i++) { %>
        <%- include(`${localScripts[i]}.js`); %>
    <% } %>
</script>

<%- include("./footer.ejs"); %>