<%- include("./head.ejs"); %>

<style>
    <% for (let i = 0; i < styles.length; i++) { %>
        <%- include(`${styles[i]}.css`); %>
    <% } %>
    <% for (let i = 0; i < externalStyles.length; i++) { %>
        <%- include(`${externalStyles[i]}.css`); %>
    <% } %>
</style>

<main class="override">
    <%- include(`${main}.ejs`); %>
</main>

<div class="ui">
    <%- include("./inventory.ejs", {inventory: inventory}); %>
    <%- include("./menu.ejs", {user: user}); %>
</div>

<script>
    <% for (let i = 0; i < localScripts.length; i++) { %>
        <%- include(`${localScripts[i]}.js`); %>
    <% } %>
</script>

<%- include("./footer.ejs"); %>