<%- include("./head.ejs"); %>

<script>
    const currentRoute = "<%- route %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/memories.js"></script>
<script src="/js/establishment.js"></script>

<main class="override">
    <%- include(`${main}.ejs`); %>
</main>

<div class="ui">
    <%- include("./menu.ejs", {user: user}); %>
</div>

<%- include("./footer.ejs"); %>