<p>
    nono
</p>

<hr>

<h3>chat</h3>

<div class="chat-box" id="test-chat"></div>
<div class="chat-box" id="test-chat-2"></div>
<div class="chat-box" id="test-chat-3"></div>

<hr>

<h3>serve, memories and institution Test</h3>

<button onclick="setTime()">Add</button>
<p id="timer">0:00</p>
<p id="timer-g">0:00</p>
<p id="u">N</p>
<button onclick="emailTime()">email</button>

<hr>

<button onclick="tradeForDoll()" id="trade">Trade 5g for a doll</button>



<hr>

<a href="/the-front" class="to">
    Go to The Front
</a>

<a href="/coast/tall-beach/nono-cove/nono-og" class="to">
    Go to Nono Cove
</a>


<script src="/js/chat-box.js"></script>
<script>
    let chatTest = new ChatBox("<%= user.username %>", "test-chat");
    let chatTest2 = new ChatBox("<%= user.username %>", "test-chat-2");
    let chatTest3 = new ChatBox("<%= user.username %>", "test-chat-3");

    let bought = false;

    let tradeForDoll = async function tradeForDoll() {
        if (!bought) {
            $("#trade").addClass("invisible");

            let paid = await playerInventory.change("Gold Coin", -5);
            
            if (paid) {
                bought = true;
                await playerInventory.change("Rag Doll", 1);
            }
            else {
                $("#trade").removeClass("invisible");
            }
        }
    }

    let time = 0;
    let gtime = 0;

    (async () => {
        let load = await memories.load("time", "/void/test");
        let loadg = await establishment.load("time", "/void/test");
        time = load.time;
        $("p#u").text(`Last: ${loadg.u}`);
        gtime = loadg.time;
    })();

    let setTime = async function setTime() {
        time = Date.now();
        gtime = time;
        
        await memories.save("time", {
            time: time,
            a: "dabfb",
            bln: false,
            numba: 4236,
            arrray: [32, "sg", 45],
            check: {
                time: time,
                a: "dabfb",
                bln: false,
                numba: 4236,
                arrray: [32, "sg", 45]
            }
        }, "/void/test");

        await establishment.save("time", {
            time: time,
            u: "<%= user.username %>",
            a: "dabfb",
            bln: false,
            numba: 4236,
            arrray: [32, "sg", 45],
            check: {
                time: time,
                a: "dabfb",
                bln: false,
                numba: 4236,
                arrray: [32, "sg", 45]
            }
        }, "/void/test");

        $("p#u").text("Last: <%= user.username %>");
    }
    
    let updateTime = function updateTime() {
        $("#timer").text(`Local: ${Math.floor((Date.now() - time) / 1000)}`);
        $("#timer-g").text(`Global: ${Math.floor((Date.now() - gtime) / 1000)}`);
    }

    let emailTime = async () => {
        await commune("serveExplorer", {
            script: "emailTime",
            toEmail: "wyattsushi@gmail.com",
            subject: "New Time Update!",
            html: `New Time: ${time}`
        }, { route: currentRoute });
    }

    setInterval(updateTime, 1000);
</script>